/******** CSS RESET********/

* {
    margin: 0px;
    padding: 0px;
}
body{
    background: url('../img/tree.jpg')no-repeat center center/cover;
    height: 100vh;
}
/******** navbar ********/

#navbar {
    display: flex;
    align-items: center;
    position: sticky;
}

#navbar ul {
    display: flex;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.4;
}

#navbar li {
    list-style: none;
    font-size: 1.2rem;
}

#navbar li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar li a:hover {
    color: black;
    background-color: white;
}


/******** LOGO AND IMG ********/

#logo {
    margin: 0px 0px;
}

#logo img {
    height: 77px;
    border-radius: 2px;
    padding: 6px 41px;
}

/******** ABOUT ***********/
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px auto;
    border: 2px solid black;
    background-image: linear-gradient(245deg,#004700, #b4d1ae);
    height: 400px;
    max-width: 750px;
    opacity: 0.8;
    border-radius: 10px;
    
}

.primary
{
    padding: 42px 29px;
    opacity: 0.99;
    font-size: 1.9rem;
}

@media screen and (max-width: 768px) {

    /******** CSS RESET********/
    
    .body{
        background: url('../img/tree.jpg')no-repeat center;
    }

    /******** navbar ********/

    #navbar{
        position: relative;
        width: 157%;
    }
    /******** ABOUT ***********/

    .about{
        display: flex;
        text-align: center;
        margin-left: 85px;
        height: 790px;
        width: 400px;
    }
    #contain{
        margin-top: 140px;
    }
    .about p{
        font-size: 1.9rem;
    }
    /******** HAMBURGER AND ITS ANIMATIONS ***********/

    .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }
    #navbar
    {
        position: relative;
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }
    
    .nav-links {
        position: fixed;
        display: flex;
        background: #5b78c7;
        height: 40vh;
        width: 100%;
        top: 0px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -50%);
        transition: all 1s ease-out;
        pointer-events: none; 
    }
     .nav-links.open {
        clip-path: circle(1000px at 90% -20%);
        -webkit-clip-path: circle(1000px at 90% -20%);
        pointer-events: all;
    }
    .nav-links li a {
        font-size: 25px;
    }
    .nav-links li:nth-child(1) {
        transition: all 0.2s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
        transition: all 0.2s ease 0.2s;
    }
    .navlink li:nth-child(3) {
        transition: all 0.2s ease 0.2s;
    }
    .navlink li:nth-child(4) {
        transition: all 0.2s ease 0.2s;
    }
    .nav-links li {
        opacity: 0;
    }
    li.fade {
        opacity: 1;
    }
    .fade:not(.show) {
          opacity: 1;
      } 
}
